@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-bg: #f8f4e3;
  --color-light-text: #1c1c1c;
  --color-light-panel: #ffffff;
  --color-light-border: #444444;
  --color-light-empty: #e5e5e5;
  --color-light-accent: #ff0054;
  --color-dark-bg: #1e1e1e;
  --color-dark-text: #f0f0f0;
  --color-dark-panel: #2d2d2d;
  --color-dark-border: #555555;
  --color-dark-empty: #2a2a2a;
  --color-dark-accent: #00ffe1;
}

:root {
  font-family: "Press Start 2P", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  --light-panel: var(--color-light-panel);
  --light-border: #444444;
  --dark-panel: #2d2d2d;
  --dark-border: #555555;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.bit-border {
  --panel: var(--light-panel);
  --border: var(--light-border);
  box-shadow: 4px 0 var(--panel), -4px 0 var(--panel), 0 -4px var(--panel),
    0 4px var(--panel), 8px 0 var(--border), -8px 0 var(--border),
    0 -8px var(--border), 0 8px var(--border), 0 0 0 4px var(--border);
}

.bit-border.input {
  --panel: var(--color-gray-200);
}

.dark .bit-border {
  --panel: var(--dark-panel);
  --border: var(--dark-border);
}

.bit-border.red {
  --panel: var(--color-red-500);
}

.bit-border.blue {
  --panel: var(--color-blue-500);
}

.bit-border.active {
  --panel: var(--color-blue-500);
  --border: var(--color-blue-700);
}

.dark .bit-border.input {
  --panel: var(--color-gray-800);
}

.dark .bit-border.active {
  --panel: var(--color-blue-500);
  --border: var(--color-blue-700);
}
